
/* Navigation Bar */

.navbar{
padding:0 0 4.5rem;
margin: 0;
}
.navbar-brand{
  font-size: 3rem;
  font-family: 'Satisfy', cursive;
  padding-left: 100px;
  font-weight:bold;

}
.nav-item{
  padding: 0 14px;
  margin-right: 70px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
}
.navbar-collapse{
  margin-left: 15%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  paddding: 0;
}
.wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper .wrapper__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding:0;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;

}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background: linear-gradient(to bottom left,  #5D5D5D 40%,   #F6F5F5 100%);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left,  #5D5D5D 40%,   #F6F5F5 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

.card_text {
  color: #ffffff;
  font-size: 0.975rem;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  font-weight: 400;
  font-family: 'Satisfy', cursive;
  text-align: justify;
}
.card-image{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.prof{
  font-size: 1.25rem;
  text-align: center;

}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;

}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:300px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.carousel{
  height: 500px;
  font-family: 'Satisfy', cursive;
}
.test{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 140px;
}
.bold{
  font-weight: bold;
}

.name{
  text-decoration: none;
  color: #8f8f8f;
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 1.25rem;
}
.fluid{
  text-align: center;
  padding: 7% 15%;
}
